In [1]:
print("Hello world!")

Hello world!

In [3]:
#program to add two number 
a=int(input("Enter first number "))
b=int(input("Enter second number "))
print("Sum is ",a+b)

Enter first number 56
Enter second number 8
Sum is  64

In [4]:
#sqroot of a number
import math
n=int(input("Enter a number "))
a=print(math.sqrt(n))

Enter a number 56
7.483314773547883

In [5]:
#area of a triangle
b=int(input("Enter the base "))
h=int(input("Enter the height "))
area=print((1/2)*b*h)

Enter the base 5
Enter the height 6
15.0

In [6]:
#swaping two number
a=int(input("Enter the first number "))
b=int(input("Enter the secod number "))
print("Number before swap ", a ,b)
a,b=b,a 
print("Number after swap" ,a ,b)

Enter the first number 5
Enter the secod number 9
Number before swap  5 9
Number after swap 9 5

In [7]:
#convert km to mile 
n=int(input("Enter the distance in km "))
mile=0.625*n
print("Distance in mile is  ",mile)

Enter the distance in km 56
Distance in mile is   35.0

In [8]:
#convert tempreture celsius to fahrenheit
c=int(input("Enter the tempreture in celsius"))
f=(c*(9/5))+32
print("tempreture in fahrenheit is ",f)

Enter the tempreture in celsius95
tempreture in fahrenheit is  203.0

In [9]:
#check a number negative postive or zero
n=int(input("Enter a  number "))
if n>0:
    print("number is postive")
elif(n==0):
    print("Number is zero ")
else:
    print("Number is negative")

Enter a  number 56
number is postive

In [10]:
#check a number even or odd
n=int(input("Enter a number "))
if n%2==0:
    print("Number is even")
else:
    print("Number is odd")

Enter a number 85
Number is odd

In [11]:
#check a year leap year or not
year=int(input("Enter a year "))
if year%400==0:
    print("year is leap year ")
elif year%100==0:
    print("year is not leap yaer ")
elif year%4==0:
    print("year is leap year ")
else:
    print("year is not a leap")

Enter a year 2002
year is not a leap

In [12]:
#check the biggest number among three
a=int(input("Enter first number "))
b=int(input("Enter second number "))
c=int(input("Enter third number "))
if a>b and a>c:
    print("a is greatest number ")
elif b>c:
    print("b is greatest number ")
else:
    print("c is greatest number ")

Enter first number 89
Enter second number 45
Enter third number 66
a is greatest number

In [13]:
#check a number prime or not
n=int(input("Enter a number "))
flag=0
for i in range (2,n):
    if n%i==0:
        flag=1 
if flag==0:
    print(n,"is prime number")

Enter a number 5
5 is prime number

In [14]:
#check prime number in a given intervel

st=int(input("Enter starting point"))
en=int(input("Enter ending point"))
for i in range(st,en+1,1):
    flag=0
    for j in range(2,i):
        if i%j==0:
            flag=1
    if flag==0:
        print(i)

Enter starting point89
Enter ending point99
89
97

In [15]:
#factorial of a number
n=int(input("Enter a number "))
fact=1
for i in range(1,n+1):
    fact=fact*i
print("factorial is ",fact)

Enter a number 6
factorial is  720

In [16]:
# program to find the factor
n=int(input("Enter a number "))
li=[]
for i in range(1,n+1):
    if n%i==0:
        li.append(i)
print("Factor of ",n,"is ", li)

Enter a number 88
Factor of  88 is  [1, 2, 4, 8, 11, 22, 44, 88]

In [18]:
# find the divisibilty of another number
a=int(input("Enter the first number "))
b=int(input("Enter second number "))
if a%b==0:
    print(a,"is divisible by",b)

Enter the first number 80
Enter second number 2
80 is divisible by 2

In [19]:
# power of 2 using anonymous function
n=int(input("enter a number "))

pow=lambda n:n**2
print(pow(n))

enter a number 56
3136

In [21]:
# 32.fibbonacci sequnce using recursion
def fib(a):
    if a==0 or a==1:
        return a
    else:
         return fib(a-1)+fib(a-2)
n=int(input("Enter the number up to series be print "))
for i in range(n+1):
    print(fib(i))

Enter the number up to series be print 5
0
1
1
2
3
5

In [22]:
import calendar
year=int(input("Enter the year "))
month=int(input("Enter the month"))
print(calendar.month(year,month))

Enter the year 2000
Enter the month4
     April 2000
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

In [23]:
# sum of n natural number by using recursion
def sum(x):
    s=0
    if x==0:
        return s
    else:
        return s+x+sum(x-1)
n=int(input("enter a number up to sum be print "))
print(sum(n))

enter a number up to sum be print 9
45

In [24]:
# factorial of a number using recursion
def fact(x):
    f=1
    if x==0 or x==1:
        return 1
    else:
        return x*fact(x-1)
 
n=int(input("Enter a number "))
print(fact(n))

Enter a number 9
362880

In [26]:
# convert a decimal number to binary by recursion
def dec_bin(x):
    if x>=1:
        dec_bin(x//2)
    print(x%2,end="")
      
if __name__ == '__main__':
    num=int(input("Enter a decimal  number "))
    print("The binary number is " ) 
    dec_bin(num)

Enter a decimal  number 66
The binary number is
01000010

In [27]:

# 36.add of two matrix
mat1=[1,3,5],[2,4,7],[23,13,22]
mat2=[2,45,34],[12,13,14],[11,10,12]
mat3=[0,0,0],[0,0,0],[0,0,0]

for i in range(len(mat1)):
    for j in range(len(mat1[0])):
        mat3[i][j]=mat1[i][j]+mat2[i][j]
print(mat3)

([3, 48, 39], [14, 17, 21], [34, 23, 34])

In [30]:
s1=input("Enter a string ")
l1=len(s1)
s2=[]
for i in range(l1-1,-1,-1):
    s2.append(s1[i])

def list_string(s2):
    s=''
    return(s.join(s2))

print(list_string(s2))   
if s1==list_string(s2):
    print("palindrom")

Enter a string raj
jar

In [33]:
#program to  multiply two matrix
import numpy as np
r1=int(input("Enter number of row in first matrix "))
c1=int(input("Enter number of coloumn in first matrix "))
r2=int(input("Enter number of row in second matrix "))
c2=int(input("Enter number of coloumn in second matrix "))
mat1=[]
mat2=[]
mul=[]
for i in range(r1):
    a=[]
    for i in range(c1):
        a.append(int(input()))
    mat1.append(a)    
for i in range(r2):
    b=[]
    for i in range(c2):
        b.append(int(input()))
    mat2.append(b)        
if c1==r2:
    mul=np.dot(mat1,mat2)
for i in range(r1):
    for j in range(c1):
        print(mul[i][j],end=' ')
    print()

Enter number of row in first matrix 2
Enter number of coloumn in first matrix 2
Enter number of row in second matrix 2
Enter number of coloumn in second matrix 2
555
66
35
24
58
963
8
7
32718 534927
2222 33873

In [34]:
#sort words by alphabetically order
s=input("Enter a string ")
li=[]
li=s.split()
li.sort()
print(li)

Enter a string how are u?
['are', 'how', 'u?']

In [35]:
#print pyramid pattern
for i in range(6):
    for j in range(6-i):
        print(end=" ")
    for k in range(i):
        print("*",end="")
    for l in range(i-1):
        print("*",end='')
    print()

     *
    ***
   *****
  *******
 *********

In [36]:
#merge two dictionaries
d1={1:"Apple",2:"orange",3:"grapes"}
d2={4:"Dog",5:"cat",6:"fish"}
d={}
d={**d1,**d2}
print(d)

{1: 'Apple', 2: 'orange', 3: 'grapes', 4: 'Dog', 5: 'cat', 6: 'fish'}

In [37]:
# flat list from nested list
def flat(_2d_l):
    l1 = []
    for element in _2d_l:
        if type(element) is list:
            for item in element:
                l1.append(item)
        else:
            l1.append(element)
    return l1

nested_list = [[1, 2, 3, 4], [5, 6, 7], [8, 9, 10]]
print('Original List', nested_list)
print('Transformed Flat List', flat(nested_list))

Original List [[1, 2, 3, 4], [5, 6, 7], [8, 9, 10]]
Transformed Flat List [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
#access index of a list using for loop 
l1=[1,7,8,34,78,25,9,98,32,17]
for i in range(len(l1)):
    print(l1[i])

1
7
8
34
78
25
9
98
32
17

In [39]:
#slice a list

lis=[23,45,67,89,24,56,78,84,12,30,27,63]
print(lis[::])
print(lis[5:])
print(lis[:8])

[23, 45, 67, 89, 24, 56, 78, 84, 12, 30, 27, 63]
[56, 78, 84, 12, 30, 27, 63]
[23, 45, 67, 89, 24, 56, 78, 84]

In [40]:
#illustrate diffrent set operation

a={10,20,30,40,50,60,70}
b={33,44,51,10,20,50,30,33}
print(a|b)        #union of two set
print(a&b)        #intersection of two set
print(a-b)         #difference of two set
print(b-a)
print(a^b)
print(a>=b)
print(b<=a)
print(a )

{33, 70, 40, 10, 44, 50, 51, 20, 60, 30}
{10, 50, 20, 30}
{40, 60, 70}
{33, 51, 44}
{70, 33, 40, 44, 51, 60}
False
False
{70, 40, 10, 50, 20, 60, 30}

In [41]:
#iterate over dictionaries using for loop 
d={1:'apple',2:'banana',3:'orange', 4:'grapes', 5:'melon'}
for key in d:
    print(key,'correspond to ',d[key])

1 correspond to  apple
2 correspond to  banana
3 correspond to  orange
4 correspond to  grapes
5 correspond to  melon

In [42]:
#sort a dictionary by value

di={1:'melon',2:'orange',3:'apple',4:'grapes',5:'mango',6:'dog',7:'cat'}
d1=sorted(di.values())
print(d1)

['apple', 'cat', 'dog', 'grapes', 'mango', 'melon', 'orange']

In [43]:
#check a list empty or not
lst=[]
if not lst:
    print("list is empty")

list is empty

In [44]:
#concatnate two list

l1=[1,3,5,7,9,11]
l2=[2,4,6,8,10]
l3=[]
l3=l1+l2
print(sorted(l3))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [45]:
# check if a key is already present or not in a dictionary
d1={1:"apple",2:'orange',3:'grapes',4:'orange',5:'mango'}
key=int(input("enter serch key "))
if key in d1:
    print("Already prsent ")

enter serch key 5
Already prsent

In [46]:
#simple calculator program

print("1.add") 
print("2.subtract")
print("3.multyply")
print("4.divide")
a=int(input("Enter first number ")) 
b=int(input("Enter second number ")) 
while True: 
    choice=int(input("Enter your choice(1/2/3/4)"))
    if choice==1:
        print(a,"+",b,"is ",(a+b))
    elif choice==2:
        print(a,"-",b, "is",(a-b))
    elif choice==3: 
        print(a,"*",b,"is",(a*b)) 
    elif choice==4:
        print(a,"//",b,"is",(a//b)) 
    print("Are you want to do another operation (Yes or no)") 
    op=input("yes/no")
    if op=='no':
      break

1.add
2.subtract
3.multyply
4.divide
Enter first number 56
Enter second number 9
Enter your choice(1/2/3/4)2
56 - 9 is 47
Are you want to do another operation (Yes or no)
yes/noy
Enter your choice(1/2/3/4)8
Are you want to do another operation (Yes or no)
yes/non
Enter your choice(1/2/3/4)8
Are you want to do another operation (Yes or no)
yes/nono

In [47]:
#table
n=int(input("Enter the number up to table be print "))
mul=1
for i  in range(1,n+1):
    for j in range(1,11):
        mul=i*j 
        print(mul,end=" ")
    print()

Enter the number up to table be print 6
1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60

In [49]:
#fibonacci  sequence
n=int(input("Enter a numer ut to series be printed "))
p=1
pp=0 
print(pp)
print(p)
for i in range(n-1):
    nx=p+pp
    print(nx)
    pp=p
    p=nx

Enter a numer ut to series be printed 66
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288

In [50]:
#generate randon number 
import random
n=random.randint(1,30)
print(n)

15

In [54]:
#check armstrong number
n=int(input("Enter a number "))
res=0
sum=0
temp=n
while temp!=0:
    res=temp%10
    sum=sum+res**3
    temp=temp//10
if n==sum:
    print("Number is armstrong")

Enter a number 153
Number is armstrong

In [55]:
#chech armstrong number in a given interval
st=int(input("Enter the stating point "))
en=int(input("Enter the ending point "))
for i in range(st,en,1):
    res=0
    sum=0 
    temp=i
    while temp!=0:
        res=temp%10
        sum=sum+res**3
        temp=temp//10
    if i==sum:
      print(i)

Enter the stating point 5
Enter the ending point 200
153

In [56]:
#sum of n natural number 
n=int(input("Enter the number up to sum "))
sum=0
for i in range(1,n+1):
    sum=sum+i 
print("sum is ",sum)

Enter the number up to sum 100
sum is  5050

In [57]:
#HCF of two number 
a=int(input("Enter first number "))
b=int(input("Enter second number "))
l1=[]
l2=[]
l3=[]
for i in range(1,a+1):
    if a%i==0:
        l1.append(i)
for i in range(1,b+1):
    if b%i==0:
        l2.append(i)        
print(l1) 
print(l2)
for i in range(len(l1)):
    var=l1[i]
    for j in range(len(l2)):
        if var==l2[j]:
            l3.append(var)
print("HCF of a and b is", max(l3))

Enter first number 30
Enter second number 60
[1, 2, 3, 5, 6, 10, 15, 30]
[1, 2, 3, 4, 5, 6, 10, 12, 15, 20, 30, 60]
HCF of a and b is 30

In [58]:
#LCM of  two number
a=int(input("Enter first number "))
b=int(input("Enter second number "))
l1=[]
l2=[]
l3=[]
for i in range(1,a+1):
    if a%i==0:
        l1.append(i)
for i in range(1,b+1):
    if b%i==0:
        l2.append(i)        
print(l1) 
print(l2)
for i in range(len(l1)):
    var=l1[i]
    for j in range(len(l2)):
        if var==l2[j]:
            l3.append(var)
lcm=(a*b)/max(l3)
print(lcm)

Enter first number 50
Enter second number 200
[1, 2, 5, 10, 25, 50]
[1, 2, 4, 5, 8, 10, 20, 25, 40, 50, 100, 200]
200.0

In [60]:
#AsCII value of a charecter
c=input("Enter any charcter ")
print(ord(c))

Enter any charcter f
102

In [61]:
s1=input("Enter a string ")
v=0
for var in s1:
    if var=='a'or var=='e'or var=='i'or var=='o'or var=='u'or var=='A'or var=='E'or var=='I'or var=='O'or var=='U':
        v=v+1
print("Number of vowel in  string is ",v)

Enter a string pushpraj
Number of vowel in  string is  2

In [63]:
import colorama
from colorama import Fore
print(Fore.RED+"I am student of B.Tech ")

I am student of B.Tech

In [64]:
dt = {5:4, 1:6, 6:3}

sorted_dt_value = sorted(dt.values())
print(sorted_dt_value)

[3, 4, 6]

In [69]:
string = input()

try:
    num = int(input())
    print(string+num)
except (TypeError, ValueError) as e:
    print(e)

sun
star
invalid literal for int() with base 10: 'star'

In [70]:
list_1 = [1, 'a']
list_2 = range(2, 4)

list_joined = [*list_1, *list_2]
print(list_joined)

[1, 'a', 2, 3]

In [71]:
from datetime import datetime

my_date_string = "Mar 11 2011 11:31AM"

datetime_object = datetime.strptime(my_date_string, '%b %d %Y %I:%M%p')

print(type(datetime_object))
print(datetime_object)

<class 'datetime.datetime'>
2011-03-11 11:31:00

In [72]:
my_list = ['a', 'b', 'c', 'd', 'e']

# print the last element
print(my_list[-1])

e

In [74]:
my_string = "I am student."

# prints "am"
print(my_string[2:5])

# prints "am student."
print(my_string[2:])

# prints "I am student"
print(my_string[:-1])

am
am student.
I am student

In [75]:
# print each statement on a new line
print("Python")
print("is easy to learn.")

# new line
print()

# print both the statements on a single line
print("Python", end=" ")
print("is easy to learn.")

Python
is easy to learn.

Python is easy to learn.

In [76]:
freq = ['a', 1, 'a', 4, 3, 2, 'a'].count('a')
print(freq)

3

In [78]:
my_string = '''first
impression is the  
last impression.'''

print(my_string)

first
impression is the
last impression.

In [80]:
class Vehicle:
    def name(self, name):
        return name

v = Vehicle()
print(v.__class__.__name__)

Vehicle

In [81]:
index = [1, 2, 3]
languages = ['python', 'c', 'c++']

dictionary = dict(zip(index, languages))
print(dictionary)

{1: 'python', 2: 'c', 3: 'c++'}

In [82]:
my_string = " \nPython "

print(my_string.strip(" "))

Python

In [84]:
import os

# file name with extension
file_name = os.path.basename('/root/file.ext')

# file name without extension
print(os.path.splitext(file_name)[0])

file